
.pokemonListed {
    cursor: pointer;

    .id {
        font-weight: bold;
    }

    .name {
        font-style: italic;
        text-transform: capitalize;
    }

    .image {
        text-align: center;
    }
}
